<div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-20 z-50" *ngIf="visible">
  <div class="bg-white rounded-lg shadow-lg p-6 w-full max-w-md text-slate-100">
    <h3 class="text-xl font-semibold mb-4">Detalles del Cliente</h3>
    <ng-container *ngIf="cliente">
      <p><strong>ID:</strong> {{ cliente.id }}</p>
      <p><strong>Nombre:</strong> {{ cliente.nombre }}</p>
      <p><strong>Apellido:</strong> {{ cliente.apellido }}</p>
      <p><strong>Email:</strong> {{ cliente.correo }}</p>
      <p><strong>Teléfono:</strong> {{ cliente.telefono }}</p>
      <p><strong>Fecha de Nacimiento:</strong> {{ cliente.fechaNacimiento }}</p>
    </ng-container>
    <div class="mt-4 text-right">
      <button (click)="cerrar.emit()" class="bg-red-600 text-white px-4 py-2 rounded hover:bg-red-500">Cerrar</button>
    </div>
  </div>
</div>
