<!--  -->
  
<section class="py-10 text-center">
  <div class="max-w-2xl mx-auto px-4">
    <h1 class="text-4xl font-light text-slate-100 mb-4">Nuestras Experiencias</h1>
    <p class="text-lg text-slate-400 mb-6">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis fuga molestiae laborum earum neque suscipit itaque esse exercitationem voluptatum, delectus nemo cupiditate, sint harum dicta tempore omnis dolores. Error, ex.
    </p>
    <div class="flex justify-center gap-4 flex-wrap">
      <a href="/tables" class="bg-red-600 hover:bg-red-500 text-white px-5 py-2 rounded shadow">
        Ver modo Tabla
      </a>
      <a href="#" class="bg-yellow-400 hover:bg-yellow-300 text-black px-5 py-2 rounded shadow">
        Ver Carrito de Compras
      </a>
    </div>
  </div>
</section>
  <app-product-grid>
  <app-product-card/>
  </app-product-grid> 
  

