<div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-20 z-50" *ngIf="visible">
  <div class="bg-white rounded-lg shadow-lg p-6 w-full max-w-md text-slate-100">
    <h3 class="text-xl font-semibold mb-4">Editar Producto</h3>
    <form (ngSubmit)="guardar.emit(producto)" class="space-y-4">
      <label class="block">
        <span class="text-slate-200">Titulo:</span>
        <input [(ngModel)]="producto.title" name="titulo" required
          class="w-full bg-slate-600 border border-slate-500 rounded px-3 py-2 mt-1 text-black" />
      </label>

      <label class="block">
        <span class="text-slate-200">Descripcion:</span>
        <input [(ngModel)]="producto.description" name="descripcion" required
          class="w-full bg-slate-600 border border-slate-500 rounded px-3 py-2 mt-1 text-black" />
      </label>

      <label class="block">
        <span class="text-slate-200">Precio:</span>
        <input [(ngModel)]="producto.price" name="precio" type="number" required
          class="w-full bg-slate-600 border border-slate-500 rounded px-3 py-2 mt-1 text-black" />
      </label>

      <label class="block">
        <span class="text-slate-200">Stock:</span>
        <input [(ngModel)]="producto.count" name="stock" type="number" required
          class="w-full bg-slate-600 border border-slate-500 rounded px-3 py-2 mt-1 text-black" />
      </label>

      <label class="block">
        <span class="text-slate-200">Imagen URL:</span>
        <input [(ngModel)]="producto.image" name="imagenUrl" type="url" required
          class="w-full bg-slate-600 border border-slate-500 rounded px-3 py-2 mt-1 text-black" />
      </label>


      <div class="pt-4 flex justify-end gap-2">
        <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-emerald-500">Guardar</button>
        <button type="button" (click)="cancelar.emit()"
          class="bg-red-600 text-white px-4 py-2 rounded hover:bg-slate-400">Cancelar</button>

      </div>
    </form>

  </div>
</div>