<header class="bg-slate-900 shadow-md">
  <nav class="max-w-7xl mx-auto px-4 py-4 flex items-center justify-between">
    <div class="flex space-x-6">
      <a routerLink="/home" routerLinkActive="text-black border-b-2 border-indigo-500"
         class="text-slate-300 hover:text-black transition duration-200">Home</a>
      <a routerLink="/directives" routerLinkActive="text-black border-b-2 border-indigo-500"
         class="text-slate-300 hover:text-black transition duration-200">Directives</a>
      <a routerLink="/gallery" routerLinkActive="text-black border-b-2 border-indigo-500"
         class="text-slate-300 hover:text-black transition duration-200">Gallery</a>
      <a routerLink="/tablas" routerLinkActive="text-black border-b-2 border-indigo-500"
         class="text-slate-300 hover:text-black transition duration-200">Tablas</a>
      
    </div>

    <!-- Dropdown deshabilitado visualmente -->
    <div class="text-gray-500 cursor-not-allowed select-none text-sm">
      Categorías ▼
    </div>
  </nav>
</header>
